/* NEW FILE */

:root {
  --opacity: 0;
}

#parachute-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
}

#parachute {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.parachute-row {
  text-align: center;
  height: 200px;
}

parachute-img {
  position: fixed;
  top: 150px;
  right: 50%;
  left: 50%;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  /* color: white; */
}

.cover {
  background-color: white;
}

.hide {
  visibility: hidden;
  z-index: -1;
}

.show {
  visibility: visible;
  z-index: 10;
}
